/* Content */
.contentBtn {
  width: 100%;
  height: 40px;
  background-color: #000;
  color: #fff;
  outline: none;
  border: none;
}

.contentLine {
  color: rgb(245, 146, 17);
  font-weight: 500;
}

.price {
  font-size: 18px;
  font-weight: 450;
}

.priceInt {
  font-size: 30px;
  font-weight: 700;
}

.priceFloat {
  font-size: 18px;
  font-weight: 500;
}

.freeShip {
  position: absolute;
  bottom: 400px;
  right: -25px;
  background-color: #000;
  color: #fff;
  border-radius: 2px;
}

/* Cart */
.cartImg {
  width: 60px;
  height: 90px;
}

.cartBtn {
  position: fixed;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  line-height: 40px;
  text-align: justify;
  font-size: 30px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.ant-drawer-title {
  color: white !important;
  font-size: 20px;
}

.checkBtn {
  width: 90%;
  color: #fff;
  background-color: #0c0b10;
  border: none;
  margin-left: 22px;
  margin-top: 22px;
  height: 55px;
  font-size: 20px;
  border-radius: 5px;
}

.titleCart {
  font-size: 25px;
}

.countCart {
  position: fixed;
  top: 25px;
  right: 256px;
  height: 15px;
  width: 15px;
  text-align: center;
  line-height: 15px;
  background-color: #dab026;
  color: #000;
  font-size: 8px;
  border-radius: 50%;
}

.showCount {
  position: fixed;
  top: 25px;
  right: 15px;
  height: 15px;
  width: 15px;
  text-align: center;
  line-height: 15px;
  background-color: #dab026;
  color: #000;
  font-size: 8px;
  border-radius: 50%;
}

.totalTitle {
  position: absolute;
  top: 5px;
  left: 5px;
  color: #5f5f5f;
  font-size: 17px;

}

.totalNum {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #dab026;
  font-size: 20px;
  font-weight: 600;
}

/* Goods */
.detail {
  width: 250px;

  font-size: 15px;
  color: #fff;
}

.detail span {
  color: rgb(77, 77, 77);
}

.goodsPrice {
  color: #dab026;
  margin: 5px auto;
}

.btnDel {
  background-color: #1b1a20;
  color: #fff;
  border: none;
  text-align: center;
  line-height: 20px;
  width: 26px;
  height: 26px;
}

.btnIncrement {
  background-color: #000;
  color: #fff;
  border: none;
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 20px;
}

.btnDecrement {
  background-color: #16151a;
  color: #fff;
  border: none;
  text-align: center;
  line-height: 20px;
  width: 26px;
  height: 26px;
}


/* Header */
.header {
  font-size: 18px;
}

.headerLeft {
  position: fixed;
  top: 55px;
  left: 110px;
}

.headerRight {
  position: fixed;
  top: 55px;
  right: 80px;
}
.loading {
  position: fixed;
   top:50%;
   left: 50%;
}